@import './base.css';

#app {
  background: rgb(255,255,255,0.5);
  /*max-width: 600px;*/
  width: 100%;
  margin: 0 auto;
  /*padding: 2rem;*/

  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

}
