<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import ToDoList from "@/views/ToDoList.vue";
</script>

<template>
  <div class="app">
    <div class="app__container">
      <ToDoList />
    </div>
  </div>

</template>

<style scoped lang="scss">
.app {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  font-weight: normal;
  background: url("/src/assets/images/обои_4.jpeg");

  &__container {
    background: rgb(255,255,255,0.5);
    max-width: 600px;
    padding: 2rem;
    margin: 0 auto;
    height: 100%;
  }
}


.toDoList {
  &__themeBtn {
    border: none;
    outline: none;
    width: 100px;
    padding: 10px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    background-color: deepskyblue;
    color: #ffffff;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}
</style>
