<template>
  <div class="note">
    <div class="note__item">
      <p class="note__itemText" v-if="clicked === false">{{ note.title }}</p>
      <input v-else class="note__itemText" v-model="text"/>
        <div v-if="showOnlyBackButton" class="note__itemIconBack">
        <img class="note__iconBack" @click="$emit('return')" src="@/components/icons/back.svg"/>
      </div>

      <div v-else class="note__itemIcons">
        <img
            class="note__inputEditIcon"
            v-if="clicked === true"
            src="@/components/icons/ok.png"
            @click="endEdit()"
        />
        <template v-else>
          <img class="note__itemCheck" @click="$emit('check')" src="@/components/icons/check.svg"/>
          <img class="note__itemEdit" @click="editText(note)" src="@/components/icons/edit.svg"/>
          <img class="note__itemDelete" @click="$emit('delete')" src="@/components/icons/minus.svg"/>
        </template>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import type {PropType} from "vue";
import {type Notes} from '@/hooks/useNotes';
import {ref} from "vue";

const emit = defineEmits(['delete', 'check', 'return', 'edit', 'update']);
defineProps({
  note: Object as PropType<Notes>,
  showOnlyBackButton: {
    type: Boolean,
    default: false,
  },
});

const clicked = ref(false);
const text = ref('');

function editText(note: Notes) {
  text.value = note.title;
  clicked.value = true;
}

function endEdit() {
  clicked.value = false;
  emit('update', text.value);
}

</script>

<style scoped lang="scss">
.note {
  &__item {
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
  }


  &__iconBack {
    width: 30px;
    height: 30px;
  }

  &__itemIconBack {
    margin-right: 10px;
    display: flex;
  }

  &__itemIcons {
    display: flex;

  }

  &__itemText {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
  }

  &__inputEditIcon {
    &:hover {
      cursor: pointer;
    }
  }

  &__itemCheck,
  &__itemEdit,
  &__itemDelete {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
  }

  &__itemDelete {
    margin-right: 0;
  }
}
</style>
